<!-- main-area -->
<main>
 <!-- contact-area -->
<section id="contact" class="contact-area after-none contact-bg pt-120 pb-120 p-relative fix" >
	<!-- Container for registration form 1 -->
	<div class="container">
		<div class="row">
            <div class="col-lg-7">
                <div class="contact-bg02 wow fadeInLeft  animated">
                <div class="section-title center-align">
					<h2>Enter email</h2>
					<h5>Enter your email address and if we find a password match in our system we will email you a reset link.</h5>

                </div>

				<form id="register1">
					<div class="row">
						<div class="col-lg-12">
		                    <div class="contact-field p-relative c-subject mb-30">
		                        <input type="email" id="email" name="email" placeholder="Email" required>
		                    </div>
		                </div>
		                <div class="col-lg-12">
		                    <div class="slider-btn">
		                        <button type="submit" id="submitRegistration1" class="btn ss-btn" data-animation="fadeInRight" data-delay=".8s">Submit</button>
		                    </div>

		                </div>
	            	</div>
				</form>
			</div>
		</div>
	</div>
	<!-- End container for regisration form 1 -->


</main>
<!-- main-area-end -->


 <script src="/assets/js/register.js"></script>
