<!-- main-area -->
<main>
 <!-- contact-area -->
<section id="contact" class="contact-area after-none contact-bg pt-120 pb-120 p-relative fix" >
	<!-- Container for registration form 1 -->
	<div class="container">
		<div class="row">
            <div class="col-lg-7">
                <div class="contact-bg02 wow fadeInLeft  animated">
                <div class="section-title center-align">
                   	<h5>Register for a free 14 day trial</h5>
                	<h2>Get started now</h2>
                </div>

				<form id="register1">
					<div class="row">
		                <div class="col-lg-6">
		                    <div class="contact-field p-relative c-name mb-30">
		                        <input type="text" id="firstn" name="firstn" placeholder="First Name" required>
		                    </div>
		                </div>
						<div class="col-lg-6">
		                    <div class="contact-field p-relative c-email mb-20">
		                        <input type="text" id="lastn" name="lastn" placeholder="Last Name" required>
		                    </div>
		                </div>
						<div class="col-lg-12">
		                    <div class="contact-field p-relative c-subject mb-30">
		                        <input type="email" id="email" name="email" placeholder="Email" required>
		                    </div>
		                </div>
						<div class="col-lg-6">
							<div class="contact-field p-relative c-subject mb-30">
								<input type="password" id="password" name="password" placeholder="password" required>
							</div>
						</div>
						<div class="col-lg-6">
		                    <div class="contact-field p-relative c-subject mb-30">
		                        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="confirmPassword" required>
		                    </div>
		                </div>
						<div class="col-lg-12">
		                    <div class="contact-field p-relative c-subject mb-30">
		                        <input type="text" id="timeZone" name="timeZone" placeholder="Time Zone" required>
		                    </div>
		                </div>

		                <div class="col-lg-12">
		                    <div class="slider-btn">
		                        <button type="submit" id="submitRegistration1" class="btn ss-btn" data-animation="fadeInRight" data-delay=".8s">Next</button>
		                    </div>
		                </div>
	            	</div>
				</form>
			</div>
		</div>
	</div>
	<!-- End container for regisration form 1 -->

	<!-- Container for registration form 2 -->
	<div class="container">
		<div class="row">
            <div class="col-lg-7">
                <div class="contact-bg02 wow fadeInLeft  animated">
                <div class="section-title center-align">
                   	<h5>You won't be charged until the 14 day trial is up</h5>
                	<h2>Enter Billing information</h2>
                </div>

				<form id="register2">
					<div class="row">
						<div class="col-lg-12">
		                    <div class="contact-field p-relative c-name mb-30">
		                        <input type="text" id="nameOnCard" name="nameOnCard" placeholder="Update with name when first form is subitted" required>
		                    </div>
		                </div>
		                <div class="col-lg-6">
		                    <div class="contact-field p-relative c-name mb-30">
		                        <input type="text" id="creditCardNumber" name="creditCardNumber" placeholder="Credit Card Number" required>
		                    </div>
		                </div>
						<div class="col-lg-3">
		                    <div class="contact-field p-relative c-email mb-20">
		                        <input type="text" id="expirationDate" name="expirationDate" placeholder="Expiration Date" required>
		                    </div>
		                </div>
						<div class="col-lg-3">
		                    <div class="contact-field p-relative c-subject mb-30">
		                        <input type="text" id="cvc" name="cvc" placeholder="cvc" required>
		                    </div>
		                </div>

		                <div class="col-lg-12">
		                    <div class="slider-btn">
		                        <button id="submitRegistration2" class="btn ss-btn" data-animation="fadeInRight" data-delay=".8s">Next</button>
		                    </div>
		                </div>
	            	</div>
				</form>
			</div>
		</div>
	</div>
	<!-- End container for registration form 2 -->
</main>
<!-- main-area-end -->


 <script src="/assets/js/register.js"></script>
