<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Home of the $5 Phone Number</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
        <!-- Place favicon.ico in the root directory -->

		<!-- CSS here -->
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/animate.min.css">
        <link rel="stylesheet" href="/assets/css/magnific-popup.css">
        <link rel="stylesheet" href="/assets/fontawesome/css/all.min.css">
        <link rel="stylesheet" href="/assets/font-flaticon/flaticon.css">
        <link rel="stylesheet" href="/assets/css/dripicons.css">
        <link rel="stylesheet" href="/assets/css/slick.css">
        <link rel="stylesheet" href="/assets/css/meanmenu.css">
        <link rel="stylesheet" href="/assets/css/default.css">
        <link rel="stylesheet" href="/assets/css/style.css">
        <link rel="stylesheet" href="/assets/css/responsive.css">
		<link rel="stylesheet" href="/assets/css/custom.css">

        <!-- for the phone number
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"
        />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>-->
    </head>
    <body>
		<!-- To display flash messages -->
		<div id="alert-success" class="alert alert-success">
		  <strong>Success!</strong> Indicates a successful or positive action.
		</div>

		<div id="alert-info" class="alert alert-info">
		  <strong>Info!</strong> Indicates a neutral informative change or action.
		</div>

		<div id="alert-warning" class="alert alert-warning">
		  <strong>Warning!</strong> Indicates a warning that might need attention.
		</div>

		<div id="alert-danger" class="alert alert-danger">
		  <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
		</div>
		<!-- End display of flash messages -->
{{{body}}}

		<!-- JS here -->


        <script src="/assets/js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="/assets/js/vendor/jquery-3.6.0.min.js"></script>
        <script src="/assets/js/popper.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
        <script src="/assets/js/slick.min.js"></script>
        <script src="/assets/js/ajax-form.js"></script>
        <script src="/assets/js/paroller.js"></script>
        <script src="/assets/js/wow.min.js"></script>
        <script src="/assets/js/js_isotope.pkgd.min.js"></script>
        <script src="/assets/js/imagesloaded.min.js"></script>
        <script src="/assets/js/parallax.min.js"></script>
         <script src="/assets/js/jquery.waypoints.min.js"></script>
        <script src="/assets/js/jquery.counterup.min.js"></script>
        <script src="/assets/js/jquery.scrollUp.min.js"></script>
        <script src="/assets/js/jquery.meanmenu.min.js"></script>
        <script src="/assets/js/parallax-scroll.js"></script>
        <script src="/assets/js/jquery.magnific-popup.min.js"></script>
        <script src="/assets/js/element-in-view.js"></script>
        <script src="/assets/js/main.js"></script>
    </body>
</html>
