<body>
 <!-- header -->
    <header class="header-area header-three">
	 <div id="header-sticky" class="menu-area">
            <div class="container">
                <div class="second-menu">
                    <div class="row align-items-center">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <a href="index.html"><img src="assets/img/logo/logo.png" alt="logo"></a>
                            </div>
                        </div>
                       <div class="col-xl-7 col-lg-7">
                            <div class="main-menu text-right text-xl-right">
                                <nav id="mobile-menu">
                                    <ul>
                                		<li><a href="#home">Home</a></li>
                                        <li><a href="#about">About Us</a></li>
										<li><a href="#video">How It Works</a></li>
										<li><a href="#pricing">Pricing</a></li>
										<li><a href="/login">Log in</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 text-right d-none d-lg-block mt-15 mb-15">
                            <a href="/register" class="btn ss-btn">Free Trial</a>
                        </div>


                            <div class="col-12">
                                <div class="mobile-menu"></div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <!-- main-area -->
    <main>


        <!-- slider-area -->
        <section id="home" class="slider-area slider-four fix p-relative">
            <div class="slider-active">
		    	<div class="single-slider slider-bg d-flex align-items-center" style="background: url(assets/img/slider/slider_img_bg.png) no-repeat; background-position: right top;">
                    <div class="container">
                        <div id="bannerContainer" class="banner-container">
                            <img id="slidingBanner" class="banner-slider"src="assets/img/frogBanner.png">
                        </div><br>
                       <div class="row justify-content-center pt-50">
                            <div class="col-lg-7 col-md-7">
                                <div class="slider-content s-slider-content mt-150">
                                    <h5 data-animation="fadeInDown" data-delay=".4s">A Hoppity Happy Deal</h5>
                                     <h2 data-animation="fadeInUp" data-delay=".4s">A $5/month Business Phone Number...Really</h2>
                                    <p data-animation="fadeInUp" data-delay=".6s">For five bucks a month and five cents a minute forward your number to any US or Canada phone.</p>

                                     <div class="slider-btn mt-30">
                                        <a href="services.html" class="btn ss-btn mr-15">Read More</a>
                                         <a href="services.html" class="btn ss-btn active">Contact Us</a>
                                    </div>


                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5">
                                <div class="slider-img" data-animation="fadeInUp" data-delay=".4s">
                               <img src="assets/img/slider/slider_img05.png" alt="slider_img05">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                </div>


        </section>
        <!-- slider-area-end -->
        <!-- video-area -->
      <section id="video" class="video-area about-p p-relative" style="background-color: #010f2e;">
          <div class="container">
               <div class="row align-items-center">
                  <div class="col-lg-6">
                      <div class="s-video-wrap" style="background-image:url(assets/img/bg/video-img.png)">
                          <div class="s-video-content">
                              <a href="https://www.youtube.com/watch?v=7e90gBu4pas" class="popup-video mb-50"><img src="assets/img/bg/play-button.png" alt="circle_right"></a>

                          </div>
                      </div>
                  </div>
                   <div class="col-lg-6 p-relative pl-70">
                      <div class="section-title">
                           <H5>The Process</H5>
                          <h2>
                           How It Works
                          </h2>
                      </div>

                       <div class="row how-box-contaniner">
                          <div class="col-lg-6 mt-30">
                              <div class="how-box">
                                  <h5>01</h5>
                                  <h3>Choose a Number</h3>
                                  <p>Choose one of our thousands of local numbers, or a toll-free number. Or transfer your existing number.</p>
                              </div>
                           </div>
                             <div class="col-lg-6 mt-30">
                              <div class="how-box">
                                  <h5>02</h5>
                                  <h3>Forward to your Phone</h3>
                                  <p>Forward your new number to any phone in the US or Canada. Or forward it to ten phones. The first one to answer is connected to the incoming call.</p>
                              </div>
                           </div>
                             <div class="col-lg-6 mt-30">
                              <div class="how-box">
                                  <h5>03</h5>
                                  <h3>Adjust Schedule as Needed</h3>
                                  <p>Forwarding is fully customizable. Forward to your cell phone during the day and home phone at night. It's up to you.</p>
                              </div>
                           </div>
                             <div class="col-lg-6 mt-30">
                              <div class="how-box">
                                  <h5>04</h5>
                                  <h3>Be Hoppity Happy</h3>
                                  <p>Be happy you are getting a great deal on your business phone with so much flexability.</p>
                              </div>
                           </div>

                       </div>

                  </div>
              </div>
          </div>
      </section>
      <!-- video-area-end -->
	  <!-- pricing-area -->
	  <section id="pricing" class="pricing-area pb-60" style="background: url(assets/img/bg/aliment-left.png) no-repeat; background-position: left center;">
		  <div class="container">
			  <div class="row">
				   <div class="col-lg-12 p-relative">
					  <div class="section-title center-align mb-30 text-center">
						   <h5>PRICING PLAN</h5>
						  <h2>
							 Choose Your Plan
						  </h2>

					  </div>
					   <nav class="pricing-tab mb-30">
							  <span class="monthly_tab_title">Monthly</span>
							  <span class="pricing-tab-switcher"></span>
							  <span class="annual_tab_title">Annual</span>
						   </nav>

				  </div>
			  </div>
			  <div class="row">
				  <div class="col-lg-6 col-md-6">
					<div class="pricing-box pricing-box2 mb-60">
						  <div class="pricing-head text-center">
							  <h3>Local Number</h3>
								<div class="price-count pricing-amount">
									 <div class="monthly_price">
										<h2>$5</h2>
										<span class="subscription"> Per Month </span>
									 </div>
									  <div class="annual_price">
										<h2>$60</h2>
										<span class="subscription"> Per Year </span>
									 </div>
							   </div>
							   <p>Get a local number <br>in your area.</p>
							  <hr>
						  </div>

						  <div class="pricing-body mt-20 mb-30">
							 <ul>
								<li>Forward call to up to ten phone numbers</li>
								 <li>$5 a month</li>
								  <li>5 cents per minute</li>
							  </ul>
						  </div>

						  <div class="pricing-btn text-center">
							 <a href="/register" class="btn ss-btn">Get Started</a>
							   <p>*Free 14 Day Trial</p>
						  </div>
					  </div>
				  </div>
				  <div class="col-lg-6 col-md-6">
					   <div class="pricing-box pricing-box2 active mb-60">
							  <div class="pricing-head text-center">
								  <h3>Toll-free Number</h3>
								  <div class="price-count pricing-amount">

									 <div class="monthly_price">
										<h2>$10</h2>
										<span class="subscription"> Per Month </span>
									 </div>
									  <div class="annual_price">
										<h2>$120</h2>
										<span class="subscription"> Per Year </span>
									 </div>
								  </div>
								   <p>Get a toll-free number <br>so customers aren't charged.</p>
								  <hr>
							  </div>

							  <div class="pricing-body mt-20 mb-30">
								 <ul>
									 <li>Forward call to up to ten phone numbers</li>
 									 <li>$10 a month</li>
 									  <li>7 cents per minute</li>
								  </ul>
							  </div>

							  <div class="pricing-btn text-center">
								 <a href="/register" class="btn ss-btn">Get Started</a>
								  <p>*Free 14 Day Trial</p>
							  </div>
						  </div>

				  </div>
			  </div>
		  </div>
	  </section>
	  <!-- pricing-area-end -->
         <!-- about-area -->
        <section id="about" class="about-area about-p pt-120 pb-130 p-relative" style="background: url(assets/img/bg/aliment-right.png) no-repeat; background-position: right center;">
            <div class="container">
                <div class="row align-items-center">
                     <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="s-about-img p-relative" >
                            <img src="assets/img/features/about_img.png" alt="img">
                        </div>
                      <div class="about-text second-about">
                                <span>5</span>
                          Years of Experience
                            </div>
                    </div>

			                 <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="about-content s-about-content pl-30">
                            <div class="about-title second-title pb-25">
                                <h5>ABOUT US</h5>
                                <h2>Our Story</h2>
                            </div>

                            <p>While reviewing competitors we realized many of their offerings are pretty complicated and hard to understand. What if someone wants a simple number that can be forwarded to thier cell phone or home phone? That's what we provide.</p>
                              <ul class="progress-outer  mt-30">
                                <li>
                                    <div class="progress-box">
                                        <div class="progress blue">
                                        <span class="progress-left">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <div class="progress-value">20MI</div>
                                    </div>
                                        <h4>Project Done</h4>
                                    </div>
                                </li>
                              <li>
                                    <div class="progress-box">
                                        <div class="progress blue">
                                        <span class="progress-left">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <div class="progress-value">30MI</div>
                                    </div>
                                        <h4>Wrokers work</h4>
                                    </div>
                                </li>
                            </ul>



                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- about-area-end -->




          <!-- testimonial-area -->
        <section class="testimonial-area pb-90" style="background: url(assets/img/bg/aliment-left2.png) no-repeat; background-position: left center;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title center-align mb-35 text-center">
                             <h5> Feedback </h5>
                            <h2>
                              Our Testimonials
                            </h2>

                        </div>

                    </div>

                    <div class="col-lg-12">
                        <div class="testimonial-active">
                            <div class="single-testimonial">
                                <p>Fone Frog is the best thing since sliced bread. And sliced bread isn't that good.</p>
                                <div class="testi-author">
                                    <img src="assets/img/testimonial/testi_avatar.png" alt="img">
                                    <div class="ta-info">
                                        <h6>Margie R. Robinson</h6>
                                        <span>Bakery Owner</span>
                                    </div>
                                </div>
                                <div class="qt-img">
                                <img src="assets/img/testimonial/qt-icon.png" alt="img">
                                </div>
                            </div>
                            <div class="single-testimonial">
                               <p>The name is the best thing about this company. The rest isn't that great.</p>
                                <div class="testi-author">
                                    <img src="assets/img/testimonial/testi_avatar.png" alt="img">
                                    <div class="ta-info">
                                        <h6>Joe D. Smith</h6>
                                        <span>Pond Developer</span>
                                    </div>
                                </div>
                                 <div class="qt-img">
                                <img src="assets/img/testimonial/qt-icon.png" alt="img">
                                </div>
                            </div>
                           <div class="single-testimonial">
                               <p>Praesent nec elit imperdiet, tincidunt ex at, malesuada lectus. Praesent cursus diam risus, non accumsan neque fermentum eget. Maecenas vel aliquam enim aliquam aliquet finibus nisl.</p>
                                <div class="testi-author">
                                    <img src="assets/img/testimonial/testi_avatar.png" alt="img">
                                    <div class="ta-info">
                                        <h6>Margie R. Robinson</h6>
                                        <span>Web Developer</span>
                                    </div>
                                </div>
                                 <div class="qt-img">
                                <img src="assets/img/testimonial/qt-icon.png" alt="img">
                                </div>
                            </div>
                            <div class="single-testimonial">
                              <p>Praesent nec elit imperdiet, tincidunt ex at, malesuada lectus. Praesent cursus diam risus, non accumsan neque fermentum eget. Maecenas vel aliquam enim aliquam aliquet finibus nisl.</p>
                                <div class="testi-author">
                                    <img src="assets/img/testimonial/testi_avatar.png" alt="img">
                                    <div class="ta-info">
                                        <h6>Margie R. Robinson</h6>
                                        <span>Web Developer</span>
                                    </div>
                                </div>
                                 <div class="qt-img">
                                <img src="assets/img/testimonial/qt-icon.png" alt="img">
                                </div>
                            </div>
                            <div class="single-testimonial">
                               <p>Praesent nec elit imperdiet, tincidunt ex at, malesuada lectus. Praesent cursus diam risus, non accumsan neque fermentum eget. Maecenas vel aliquam enim aliquam aliquet finibus nisl.</p>
                                <div class="testi-author">
                                    <img src="assets/img/testimonial/testi_avatar.png" alt="img">
                                    <div class="ta-info">
                                        <h6>Margie R. Robinson</h6>
                                        <span>Web Developer</span>
                                    </div>
                                </div>
                                 <div class="qt-img">
                                <img src="assets/img/testimonial/qt-icon.png" alt="img">
                                </div>
                            </div>
                            <div class="single-testimonial">
                               <p>Praesent nec elit imperdiet, tincidunt ex at, malesuada lectus. Praesent cursus diam risus, non accumsan neque fermentum eget. Maecenas vel aliquam enim aliquam aliquet finibus nisl.</p>
                                <div class="testi-author">
                                    <img src="assets/img/testimonial/testi_avatar.png" alt="img">
                                    <div class="ta-info">
                                        <h6>Margie R. Robinson</h6>
                                        <span>Web Developer</span>
                                    </div>
                                </div>
                                 <div class="qt-img">
                                <img src="assets/img/testimonial/qt-icon.png" alt="img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- testimonial-area-end -->

        <!-- features-area -->
        <section id="graph" class="features-area pt-80 pb-80"  style="background:url('assets/img/bg/cat-bg.png'); background-size: cover;">
            <div class="container">

                <div class="row align-items-center">

                    <div class="col-lg-12 col-md-12">
                        <div class="section-title cta-title text-center mb-30">

                             <h5>CALL TO ACTION</h5>
                            <h2>Providing Value To Clients Through<br>Product & Innovation.</h2>
                        </div>


                    </div>
                    <div class="col-lg-12 col-md-12 text-center">
                        <a href="contact.html" class="btn ss-btn">Contact Us Now</a>
                    </div>



                </div>

            </div>
        </section>
        <!-- features-area-end -->


          <!-- brand-area -->
        <div class="brand-area pt-60 pb-60">
            <div class="container">
                <div class="row brand-active">
                    <div class="col-xl-2">
                        <div class="single-brand">
                             <img src="assets/img/brand/b-logo1.png" alt="img">
                        </div>
                    </div>
                   <div class="col-xl-2">
                        <div class="single-brand">
                                 <img src="assets/img/brand/b-logo2.png" alt="img">
                        </div>
                    </div>
                    <div class="col-xl-2">
                        <div class="single-brand">
                              <img src="assets/img/brand/b-logo3.png" alt="img">
                        </div>
                    </div>
                    <div class="col-xl-2">
                        <div class="single-brand">
                              <img src="assets/img/brand/b-logo4.png" alt="img">
                        </div>
                    </div>
                     <div class="col-xl-2">
                        <div class="single-brand">
                             <img src="assets/img/brand/b-logo5.png" alt="img">
                        </div>
                    </div>
                    <div class="col-xl-2">
                        <div class="single-brand">
                             <img src="assets/img/brand/b-logo6.png" alt="img">
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- brand-area-end -->


    </main>
    <!-- main-area-end -->
    <!-- footer -->
    <footer id="contact" class="footer-bg footer-p">
        <div class="footer-top-heiding pt-70 pb-120">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="section-title">
                            <h2> Get Update<br> From Newsletter</h2>

                        </div>
                    </div>
                     <div class="col-xl-6 col-lg-6">
                         <div class="newslater-area">
                            <form name="ajax-form" id="contact-form4" action="#" method="post" class="contact-form newslater">
                           <div class="form-group">
                              <input class="form-control" id="email2" name="email" type="email" placeholder="Email Address..." value="" required="">
                              <button type="submit" class="btn btn-custom" id="send2">Subscribe Now</button>
                           </div>
                           <!-- /Form-email -->
                        </form>
                         </div>

                    </div>
                </div>
            </div>

        </div>
         <div class="footer-top pb-40">
            <div class="container">
                <div class="row justify-content-between">

                      <div class="col-xl-3 col-lg-3 col-sm-6">
                        <div class="footer-widget mb-30">
                            <div class="f-widget-title mb-45">
                               <img src="assets/img/logo/f_logo.png" alt="img">
                            </div>
                            <div class="footer-link">
                                Aenean pulvinar laoreet tellus ut tinct. Praesent a lectus egestas, finibus enim sit amet, mollis lorem. Sed a volutpat velit. Pellet habitant morbi tristique senectus et.
                            </div>
                            <div class="f-contact mt-30">
                                <ul>

                                <li>
                                    <i class="icon fal fa-map-marker-check"></i>
                                    <span>1247/Plot No. 39, 15th
Phase, Colony, Kanpur</span>
                                </li>

                            </ul>

                                </div>


                        </div>
                    </div>
				<div class="col-xl-3 col-lg-3 col-sm-6">
                        <div class="footer-widget mb-30">
                            <div class="f-widget-title">
                                <h2>Our Links</h2>
                            </div>
                            <div class="footer-link">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="about.html"> About Us</a></li>
                                    <li><a href="services.html"> Services </a></li>
                                     <li><a href="#">Term</a></li>
                                    <li><a href="blog.html">Blog </a></li>
                                     <li><a href="faq.html">FAQ</a></li>
                                    <li><a href="#">Support</a></li>
                                    <li><a href="#">Privercy</a></li>
                                      <li><a href="contact.html"> Contact Us</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-sm-6">

                        <div class="footer-widget mb-30">
                             <div class="f-widget-title">
                                <h2>Get In Touch</h2>
                            </div>
                           <div class="f-contact">
                                <ul>
                                <li>
                                    <i class="icon fal fa-phone"></i>
                                    <span>1800-121-3637<br>+91-7052-101-786</span>
                                </li>
                               <li><i class="icon fal fa-envelope"></i>
                                    <span>
                                        <a href="mailto:info@example.com">info@example.com</a>
                                   <br>
                                   <a href="mailto:help@example.com">help@example.com</a>
                                   </span>
                                </li>


                            </ul>

                                </div>
                        </div>
                    </div>
                   <div class="col-xl-3 col-lg-3 col-sm-6">
                        <div class="footer-widget mb-30">
                            <div class="f-widget-title">
                                <h2>Our Gallery</h2>
                            </div>
                            <div class="f-insta">
                                <ul>
                                    <li><a href="assets/img/instagram/f-galler-01.png" class="popup-image"><img src="assets/img/instagram/f-galler-01.png" alt="img"></a></li>
                                   <li><a href="assets/img/instagram/f-galler-02.png" class="popup-image"><img src="assets/img/instagram/f-galler-02.png" alt="img"></a></li>
                                    <li><a href="assets/img/instagram/f-galler-03.png" class="popup-image"><img src="assets/img/instagram/f-galler-03.png" alt="img"></a></li>
                                    <li><a href="assets/img/instagram/f-galler-04.png" class="popup-image"><img src="assets/img/instagram/f-galler-04.png" alt="img"></a></li>


                                </ul>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="copyright-wrap">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                          Copyright © 2021 Capatel All rights reserved.
                    </div>
                    <div class="col-lg-6 text-right text-xl-right">
                        <ul>
                            <li><a href="#">Privercy</a></li>
                            <li><a href="#">Term &amp; Conditions</a></li>
                            <li><a href="#">Legal</a></li>
                            <li> <span class="footer-social">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </span></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </footer>
    <!-- footer-end -->
