
     <!-- header -->
        <header class="header-area">
            <div class="header-top second-header d-none d-md-block">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-8 d-none  d-md-block">
                            <div class="header-cta">
                                <ul>
                                    <li>
                                        <i class="fas fa-envelope"></i>

                                        <span>info@example.com</span>
                                    </li>
                                     <li>
                                      <i class="far fa-map-marker-alt"></i>
                                        <span>12/7 Aabot, Poor Street, Mumbai</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                         <div class="col-lg-6 col-md-6 d-none d-lg-block">
                             <div class="header-social text-right">
                            <span>
                                <a href="#" title="Facebook"><i class="fab fa-facebook"></i></a>
                                <a href="#" title="Twitter"><i class="fab fa-twitter"></i></a>
                                <a href="#" title="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                               </span>
                               <!--  /social media icon redux -->
                        </div>
                        </div>

                    </div>
                </div>
            </div>
			 <div id="header-sticky" class="menu-area">
                <div class="container">
                    <div class="second-menu">
                        <div class="row align-items-center">
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a href="index.html"><img src="assets/img/logo/logo.png" alt="logo"></a>
                                </div>
                            </div>
                           <div class="col-xl-7 col-lg-7">

                                <div class="main-menu text-right text-xl-right">
                                    <nav id="mobile-menu">
                                        <ul>
                                            <li class="has-sub">
												<a href="index.html">Home</a>
												<ul>
                                                    <li><a href="index.html">Home Page 01</a></li>
                                                    <li><a href="index-2.html">Home Page 02</a></li>

												</ul>
											</li>
                                            <li><a href="about.html">About Us</a></li>
                                            <li class="has-sub"><a href="#">Pages</a>
												<ul>
                                                    <li><a href="projects.html">Project</a></li>
                                                    <li><a href="projects-detail.html">Project Details</a></li>

                                                    <li><a href="pricing.html">Pricing</a></li>
                                                    <li><a href="team.html">Team</a></li>
                                                    <li><a href="faq.html">Faq</a></li>
                                                    <li><a href="shop.html">Shop</a></li>
                                                    <li><a href="shop-details.html">Shop Details</a>
												</li></ul>
											</li>
                                            <li class="has-sub">
                                              <a href="services.html">Services</a>
                                                <ul>
                                                     <li><a href="services.html">Services</a></li>
                                                    <li><a href="services-detail.html">Services Details</a></li>
												</ul>
                                            </li>

											<li class="has-sub">
                                                <a href="blog.html">Blog</a>
                                                <ul>
                                                    <li><a href="blog.html">Blog</a></li>
                                                    <li><a href="blog-details.html">Blog Details</a></li>
												</ul>
                                            </li>



                                        </ul>
                                    </nav>
                                </div>
                            </div>
                             <div class="col-xl-1 col-lg-1 text-center d-none d-lg-block mt-15 mb-15">
                                <a href="contact.html" class="menu-tigger"><i class="fal fa-search"></i></a>
                            </div>
                            <div class="col-xl-2 col-lg-2 text-right d-none d-lg-block mt-15 mb-15">
                                <a href="contact.html" class="btn ss-btn">Get A Quote</a>
                            </div>


                                <div class="col-12">
                                    <div class="mobile-menu"></div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header-end -->
        <!-- offcanvas-area -->
                <div class="offcanvas-menu">
                <span class="menu-close"><i class="fas fa-times"></i></span>
              <form role="search" method="get" id="searchform"   class="searchform" action="http://wordpress.zcube.in/xconsulta/">
                                <input type="text" name="s" id="search" value="" placeholder="Search"  />
                                <button><i class="fa fa-search"></i></button>
                            </form>


                    <div id="cssmenu3" class="menu-one-page-menu-container">
                        <ul id="menu-one-page-menu-2" class="menu">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="index.html">Home</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="about.html">About Us</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="services.html">Services</a></li>
                             <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="pricing.html">Pricing </a></li>
                             <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="team.html">Team </a></li>

                             <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="projects.html">Gallery Study</a></li>
                             <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="blog.html">Blog</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>

                    <div id="cssmenu2" class="menu-one-page-menu-container">
                        <ul id="menu-one-page-menu-1" class="menu">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#home"><span>+8 12 3456897</span></a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#howitwork"><span>info@example.com</span></a></li>
                        </ul>
                    </div>
            </div>
            <div class="offcanvas-overly"></div>
                 <!-- offcanvas-end -->
        <!-- main-area -->
        <main>

            <!-- search-popup -->
		<div class="modal fade bs-example-modal-lg search-bg popup1" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content search-popup">
					<div class="text-center">
						<a href="#" class="close2" data-dismiss="modal" aria-label="Close">× close</a>
					</div>
					<div class="row search-outer">
						<div class="col-md-11"><input type="text" placeholder="Search for products..." /></div>
						<div class="col-md-1 text-right"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></div>
					</div>
				</div>
			</div>
		</div>
		<!-- /search-popup -->
            <!-- breadcrumb-area -->
          <section class="breadcrumb-area d-flex align-items-center" style="background-image:url(img/testimonial/test-bg.png)">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-12 col-lg-12">
                            <div class="breadcrumb-wrap text-left">
                                <div class="breadcrumb-title">
                                    <h2>Blog Deatils</h2>
                                    <div class="breadcrumb-wrap">

                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Blog Deatils</li>
                                    </ol>
                                </nav>
                            </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <!-- breadcrumb-area-end -->
            <!-- inner-blog -->
            <section class="inner-blog b-details-p pt-120 pb-120">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="blog-details-wrap">
                                <div class="details__content pb-30">
                                    <h2>With our vastly improved notifications system, users
                                        have more control.</h2>
                                    <div class="meta-info">
                                        <ul>
                                            <li><i class="fal fa-eye"></i> 100 Views  </li>
                                            <li><i class="fal fa-comments"></i> 35 Comments</li>
                                            <li><i class="fal fa-calendar-alt"></i> 24th March 2019</li>
                                        </ul>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                        nisi ut aliquip
                                        ex ea commodo amet set for your cool happiness for lyour loyal city.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                        nisi ut aliquip
                                        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                        fugiat
                                        nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deser unt
                                        mollit anim id est
                                        laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusant ium doloremque
                                        laudantium, totam rem
                                        aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                                        explicabo. Nemo enim
                                        ipsam voluptatem quia voluptas sit asperna tur aut odit aut fugit, sed quia consequuntur magni dolores
                                        eos qui
                                        ratione voluptatem sequi nesciunt. Neque porro quisq.</p>
                                    <blockquote>
                                        <footer>By Rosalina Pong</footer>
                                        <h3>Viral dreamcatcher keytar typewriter, aest hetic offal umami. Aesthetic polaroid pug pitchfork post-ironic.</h3>
                                    </blockquote>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                        nisi ut aliquip
                                        ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                        fugiat
                                        nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deser unt
                                        mollit anim id est
                                        laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusant.</p>
                                    <div class="details__content-img">
                                        <img src="assets/img/blog/b_details01.jpg" alt="">
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                        nisi ut aliquip
                                        ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                        fugiat
                                        nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deser unt
                                        mollit anim id est
                                        laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusan tium doloremque
                                        laudantium, totam rem
                                        aperiam, eaque ipsa quae ab illo inventore veritatis et quasi archi tecto beatae vitae dicta sunt
                                        explicabo. Nemo enim
                                        ipsam voluptatem quia voluptas sit asperna tur aut odit aut fugit, sed quia consequuntur magni dolores
                                        eos qui
                                        ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                                        consectetur,
                                        adipisci velit, sed quia non num quam eius modi tempora incidunt ut labore et dolore magnam aliquam
                                        quaerat voluptatem.
                                        Lorem ipsum dolor sit amet,consectetur adipisicing elit, sed do eiusmod incididunt.</p>
                                    <figure>
                                        <img src="assets/img/blog/b_details02.jpg" alt="">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                                            et dolore magna
                                            ali qua. Ut enim ad minim veniam, quis nostrud exercitation ulla mco laboris nisi ut aliquip ex ea
                                            commodo consequat.
                                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                            pariatur. Excepteur sint
                                            occaecat cupida tat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed
                                            ut perspiciatis
                                            unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                                            eaque ipsa quae ab
                                            illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                                    </figure>
                                    <div class="row">
                                        <div class="col-xl-12 col-md-12">
                                            <div class="post__tag">
                                                <h5>Releted Tags</h5>
                                                <ul>
                                                    <li><a href="#">organic</a></li>
                                                    <li><a href="#">Foods</a></li>
                                                    <li><a href="#">tasty</a></li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="posts_navigation pt-35 pb-35">
                                    <div class="row align-items-center">
                                        <div class="col-xl-4 col-md-5">
                                            <div class="prev-link">
                                                <span>Prev Post</span>
                                                <h4><a href="#">Tips Minimalist</a></h4>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-md-2 text-left text-md-center">
                                            <a href="blog.html" class="blog-filter"><img src="assets/img/icon/c_d01.png" alt=""></a>
                                        </div>
                                        <div class="col-xl-4 col-md-5">
                                            <div class="next-link text-left text-md-right">
                                                <span>next Post</span>
                                                <h4><a href="#">Less Is More</a></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="related__post mt-45 mb-85">
                                    <div class="post-title">
                                        <h4>Related Post</h4>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="related-post-wrap mb-30">
                                                <div class="post-thumb">
                                                    <img src="assets/img/blog/b_details03.jpg" alt="">
                                                </div>
                                                <div class="rp__content">
                                                    <h3><a href="#">A series of iOS 7 inspire
                                                            vector icons.</a></h3>
                                                    <p>Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod temp or
                                                        incididunt ut labore et dolore.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="related-post-wrap mb-30">
                                                <div class="post-thumb">
                                                    <img src="assets/img/blog/b_details04.jpg" alt="">
                                                </div>
                                                <div class="rp__content">
                                                    <h3><a href="#">Sed ut perspiciatis unde omnis.</a></h3>
                                                    <p>Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod temp or
                                                        incididunt ut labore et dolore.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="avatar__wrap text-center mb-45">
                                    <div class="avatar-img">
                                        <img src="assets/img/blog/comment/avatar.png" alt="">
                                    </div>
                                    <div class="avatar__info">
                                        <h5>Rosalina William</h5>
                                        <div class="avatar__info-social">
                                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                            <a href="#"><i class="fab fa-instagram"></i></a>
                                            <a href="#"><i class="fab fa-behance"></i></a>
                                            <a href="#"><i class="fab fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                    <div class="avatar__wrap-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                            aliquip ex ea commodo consequa aute irure dolor.</p>
                                    </div>
                                </div>
                                <div class="comment__wrap pb-45">
                                    <div class="comment__wrap-title">
                                        <h5>Comments</h5>
                                    </div>
                                    <div class="single__comment mb-35">
                                        <div class="comments-avatar">
                                            <img src="assets/img/blog/comment/c_01.png" alt="">
                                        </div>
                                        <div class="comment-text">
                                            <div class="avatar-name mb-15">
                                                <h6>ALina Kelian</h6>
                                                <span>19th May 2018</span>
                                                <a href="#" class="comment-reply"><i class="fas fa-reply"></i>Reply</a>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                                ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                        </div>
                                    </div>
                                    <div class="single__comment children mb-35">
                                        <div class="comments-avatar">
                                            <img src="assets/img/blog/comment/c_02.png" alt="">
                                        </div>
                                        <div class="comment-text">
                                            <div class="avatar-name mb-15">
                                                <h6>Rlex Kelian <i class="fas fa-bookmark"></i></h6>
                                                <span>19th May 2018</span>
                                                <a href="#" class="comment-reply"><i class="fas fa-reply"></i>Reply</a>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                                ullamco laboris nisi ut
                                                aliquip commodo.</p>
                                        </div>
                                    </div>
                                    <div class="single__comment">
                                        <div class="comments-avatar">
                                            <img src="assets/img/blog/comment/c_03.png" alt="">
                                        </div>
                                        <div class="comment-text">
                                            <div class="avatar-name mb-15">
                                                <h6>Roboto Alex</h6>
                                                <span>21th May 2018</span>
                                                <a href="#" class="comment-reply"><i class="fas fa-reply"></i>Reply</a>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                                ullamco laboris nisi ut
                                                aliquip ex ea commodo consequat.</p>
                                        </div>
                                    </div>
                                </div>
                               <div id="comments" class="comments-area  mt-45">
                                   <div id="respond" class="comment-respond">
                                      <h3 id="reply-title" class="comment-reply-title">Leave a Reply <small><a rel="nofollow" id="cancel-comment-reply-link" href="/finco/?p=2112#respond" style="display:none;">Cancel reply</a></small></h3>
                                      <form action="http://wordpress.zcube.in/finco/wp-comments-post.php" method="post" id="commentform" class="comment-form" novalidate="">
                                         <p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span></p>
                                         <p class="comment-field"><i class="fas fa-user"></i><input id="author" placeholder="Your Name" name="author" type="text"></p>
                                         <p class="comment-field"><i class="fas fa-envelope"></i><input id="email" placeholder="your-real-email@example.com" name="email" type="text"></p>
                                         <p class="comment-field"><i class="fas fa-globe"></i><input id="url" name="url" placeholder="http://your-site-name.com" type="text"> </p>
                                         <p class="comment-form-comment"><label for="comment">Comment</label> <textarea id="comment" name="comment" cols="45" rows="8" maxlength="65525" required="required"></textarea></p>
                                         <p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="Post Comment"> <input type="hidden" name="comment_post_ID" value="2112" id="comment_post_ID">
                                            <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                                         </p>
                                      </form>
                                   </div>
                                   <!-- #respond -->
                                </div>

                            </div>
                        </div>
                         <!-- #right side -->
                        <div class="col-sm-12 col-md-12 col-lg-4">
                           <aside class="sidebar-widget">
                              <section id="search-3" class="widget widget_search">
                                 <h2 class="widget-title">Search</h2>
                                 <form role="search" method="get" class="search-form" action="http://wordpress.zcube.in/finco/">
                                    <label>
                                    <span class="screen-reader-text">Search for:</span>
                                    <input type="search" class="search-field" placeholder="Search &hellip;" value="" name="s" />
                                    </label>
                                    <input type="submit" class="search-submit" value="Search" />
                                 </form>
                              </section>
                              <section id="custom_html-5" class="widget_text widget widget_custom_html">
                                 <h2 class="widget-title">Follow Us</h2>
                                 <div class="textwidget custom-html-widget">
                                    <div class="widget-social">
                                       <a href="#"><i class="fab fa-twitter"></i></a>
                                       <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                       <a href="#"><i class="fab fa-facebook-f"></i></a>
                                       <a href="#"><i class="fab fa-instagram"></i></a>
                                       <a href="#"><i class="fab fa-wordpress"></i></a>
                                    </div>
                                 </div>
                              </section>
                              <section id="categories-1" class="widget widget_categories">
                                 <h2 class="widget-title">Categories</h2>
                                 <ul>
                                    <li class="cat-item cat-item-16"><a href="#">Branding</a> (4)</li>
                                    <li class="cat-item cat-item-23"><a href="#">Corporat</a> (3)</li>
                                    <li class="cat-item cat-item-18"><a href="#">Design</a> (3)</li>
                                    <li class="cat-item cat-item-22"><a href="#">Gallery</a> (3)</li>
                                 </ul>
                              </section>
                              <section id="recent-posts-4" class="widget widget_recent_entries">
                                 <h2 class="widget-title">Recent Posts</h2>
                                 <ul>
                                    <li>
                                       <a href="#">User Experience Psychology And Performance Smshing</a>
                                       <span class="post-date">August 19, 2020</span>
                                    </li>
                                    <li>
                                       <a href="#">Monthly Web Development Up Cost Of JavaScript</a>
                                       <span class="post-date">August 19, 2020</span>
                                    </li>
                                    <li>
                                       <a href="#">There are many variation passages of like available.</a>
                                       <span class="post-date">August 19, 2020</span>
                                    </li>
                                 </ul>
                              </section>
                              <section id="tag_cloud-1" class="widget widget_tag_cloud">
                                 <h2 class="widget-title">Tag</h2>
                                 <div class="tagcloud">
                                     <a href="#" class="tag-cloud-link tag-link-28 tag-link-position-1" style="font-size: 8pt;" aria-label="app (1 item)">app</a>
                                    <a href="#" class="tag-cloud-link tag-link-17 tag-link-position-2" style="font-size: 8pt;" aria-label="Branding (1 item)">Branding</a>
                                    <a href="#" class="tag-cloud-link tag-link-20 tag-link-position-3" style="font-size: 8pt;" aria-label="corporat (1 item)">corporat</a>
                                    <a href="#" class="tag-cloud-link tag-link-24 tag-link-position-4" style="font-size: 16.4pt;" aria-label="Design (2 items)">Design</a>
                                    <a href="#" class="tag-cloud-link tag-link-25 tag-link-position-5" style="font-size: 22pt;" aria-label="gallery (3 items)">gallery</a>
                                    <a href="#" class="tag-cloud-link tag-link-26 tag-link-position-6" style="font-size: 8pt;" aria-label="video (1 item)">video</a>
                                    <a href="#" class="tag-cloud-link tag-link-29 tag-link-position-7" style="font-size: 16.4pt;" aria-label="web design (2 items)">web design</a>
                                 </div>
                              </section>
                           </aside>
                        </div>
                        <!-- #right side end -->
                    </div>
                </div>
            </section>
            <!-- inner-blog-end -->


        </main>
        <!-- main-area-end -->
<!-- footer -->
        <footer class="footer-bg footer-p">
            <div class="footer-top-heiding pt-70 pb-120">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="section-title">
                                <h2> Get Update<br> From Newsletter</h2>

                            </div>
                        </div>
                         <div class="col-xl-6 col-lg-6">
                             <div class="newslater-area">
                                <form name="ajax-form" id="contact-form4" action="#" method="post" class="contact-form newslater">
                               <div class="form-group">
                                  <input class="form-control" id="email2" name="email" type="email" placeholder="Email Address..." value="" required="">
                                  <button type="submit" class="btn btn-custom" id="send2">Subscribe Now</button>
                               </div>
                               <!-- /Form-email -->
                            </form>
                             </div>

                        </div>
                    </div>
                </div>

            </div>
             <div class="footer-top pb-40">
                <div class="container">
                    <div class="row justify-content-between">

                          <div class="col-xl-3 col-lg-3 col-sm-6">
                            <div class="footer-widget mb-30">
                                <div class="f-widget-title mb-45">
                                   <img src="assets/img/logo/f_logo.png" alt="img">
                                </div>
                                <div class="footer-link">
                                    Aenean pulvinar laoreet tellus ut tinct. Praesent a lectus egestas, finibus enim sit amet, mollis lorem. Sed a volutpat velit. Pellet habitant morbi tristique senectus et.
                                </div>
                                <div class="f-contact mt-30">
                                    <ul>

                                    <li>
                                        <i class="icon fal fa-map-marker-check"></i>
                                        <span>1247/Plot No. 39, 15th
Phase, Colony, Kanpur</span>
                                    </li>

                                </ul>

                                    </div>


                            </div>
                        </div>
						<div class="col-xl-3 col-lg-3 col-sm-6">
                            <div class="footer-widget mb-30">
                                <div class="f-widget-title">
                                    <h2>Our Links</h2>
                                </div>
                                <div class="footer-link">
                                    <ul>
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="about.html"> About Us</a></li>
                                        <li><a href="services.html"> Services </a></li>
                                         <li><a href="#">Term</a></li>
                                        <li><a href="blog.html">Blog </a></li>
                                         <li><a href="faq.html">FAQ</a></li>
                                        <li><a href="#">Support</a></li>
                                        <li><a href="#">Privercy</a></li>
                                          <li><a href="contact.html"> Contact Us</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-sm-6">

                            <div class="footer-widget mb-30">
                                 <div class="f-widget-title">
                                    <h2>Get In Touch</h2>
                                </div>
                               <div class="f-contact">
                                    <ul>
                                    <li>
                                        <i class="icon fal fa-phone"></i>
                                        <span>1800-121-3637<br>+91-7052-101-786</span>
                                    </li>
                                   <li><i class="icon fal fa-envelope"></i>
                                        <span>
                                            <a href="mailto:info@example.com">info@example.com</a>
                                       <br>
                                       <a href="mailto:help@example.com">help@example.com</a>
                                       </span>
                                    </li>


                                </ul>

                                    </div>
                            </div>
                        </div>
                       <div class="col-xl-3 col-lg-3 col-sm-6">
                            <div class="footer-widget mb-30">
                                <div class="f-widget-title">
                                    <h2>Our Gallery</h2>
                                </div>
                                <div class="f-insta">
                                    <ul>
                                        <li><a href="assets/img/instagram/f-galler-01.png" class="popup-image"><img src="assets/img/instagram/f-galler-01.png" alt="img"></a></li>
                                       <li><a href="assets/img/instagram/f-galler-02.png" class="popup-image"><img src="assets/img/instagram/f-galler-02.png" alt="img"></a></li>
                                        <li><a href="assets/img/instagram/f-galler-03.png" class="popup-image"><img src="assets/img/instagram/f-galler-03.png" alt="img"></a></li>
                                        <li><a href="assets/img/instagram/f-galler-04.png" class="popup-image"><img src="assets/img/instagram/f-galler-04.png" alt="img"></a></li>


                                    </ul>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="copyright-wrap">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                              Copyright © 2021 Capatel All rights reserved.
                        </div>
                        <div class="col-lg-6 text-right text-xl-right">
                            <ul>
                                <li><a href="#">Privercy</a></li>
                                <li><a href="#">Term &amp; Conditions</a></li>
                                <li><a href="#">Legal</a></li>
                                <li> <span class="footer-social">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </span></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </footer>
        <!-- footer-end -->
