
     <!-- header -->
        <header class="header-area">
            <div class="header-top second-header d-none d-md-block">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-8 d-none  d-md-block">
                            <div class="header-cta">
                                <ul>
                                    <li>
                                        <i class="fas fa-envelope"></i>

                                        <span>info@example.com</span>
                                    </li>
                                     <li>
                                      <i class="far fa-map-marker-alt"></i>
                                        <span>12/7 Aabot, Poor Street, Mumbai</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                         <div class="col-lg-6 col-md-6 d-none d-lg-block">
                             <div class="header-social text-right">
                            <span>
                                <a href="#" title="Facebook"><i class="fab fa-facebook"></i></a>
                                <a href="#" title="Twitter"><i class="fab fa-twitter"></i></a>
                                <a href="#" title="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                               </span>
                               <!--  /social media icon redux -->
                        </div>
                        </div>

                    </div>
                </div>
            </div>
			 <div id="header-sticky" class="menu-area">
                <div class="container">
                    <div class="second-menu">
                        <div class="row align-items-center">
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a href="index.html"><img src="assets/img/logo/logo.png" alt="logo"></a>
                                </div>
                            </div>
                           <div class="col-xl-7 col-lg-7">

                                <div class="main-menu text-right text-xl-right">
                                    <nav id="mobile-menu">
                                        <ul>
                                            <li class="has-sub">
												<a href="index.html">Home</a>
												<ul>
                                                    <li><a href="index.html">Home Page 01</a></li>
                                                    <li><a href="index-2.html">Home Page 02</a></li>

												</ul>
											</li>
                                            <li><a href="about.html">About Us</a></li>
                                            <li class="has-sub"><a href="#">Pages</a>
												<ul>
                                                    <li><a href="projects.html">Project</a></li>
                                                    <li><a href="projects-detail.html">Project Details</a></li>

                                                    <li><a href="pricing.html">Pricing</a></li>
                                                    <li><a href="team.html">Team</a></li>
                                                    <li><a href="faq.html">Faq</a></li>
                                                    <li><a href="shop.html">Shop</a></li>
                                                    <li><a href="shop-details.html">Shop Details</a>
												</li></ul>
											</li>
                                            <li class="has-sub">
                                              <a href="services.html">Services</a>
                                                <ul>
                                                     <li><a href="services.html">Services</a></li>
                                                    <li><a href="services-detail.html">Services Details</a></li>
												</ul>
                                            </li>

											<li class="has-sub">
                                                <a href="blog.html">Blog</a>
                                                <ul>
                                                    <li><a href="blog.html">Blog</a></li>
                                                    <li><a href="blog-details.html">Blog Details</a></li>
												</ul>
                                            </li>



                                        </ul>
                                    </nav>
                                </div>
                            </div>
                             <div class="col-xl-1 col-lg-1 text-center d-none d-lg-block mt-15 mb-15">
                                <a href="contact.html" class="menu-tigger"><i class="fal fa-search"></i></a>
                            </div>
                            <div class="col-xl-2 col-lg-2 text-right d-none d-lg-block mt-15 mb-15">
                                <a href="contact.html" class="btn ss-btn">Get A Quote</a>
                            </div>


                                <div class="col-12">
                                    <div class="mobile-menu"></div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header-end -->
        <!-- offcanvas-area -->
                <div class="offcanvas-menu">
                <span class="menu-close"><i class="fas fa-times"></i></span>
              <form role="search" method="get" id="searchform"   class="searchform" action="http://wordpress.zcube.in/xconsulta/">
                                <input type="text" name="s" id="search" value="" placeholder="Search"  />
                                <button><i class="fa fa-search"></i></button>
                            </form>


                    <div id="cssmenu3" class="menu-one-page-menu-container">
                        <ul id="menu-one-page-menu-2" class="menu">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="index.html">Home</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="about.html">About Us</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="services.html">Services</a></li>
                             <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="pricing.html">Pricing </a></li>
                             <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="team.html">Team </a></li>

                             <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="projects.html">Gallery Study</a></li>
                             <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="blog.html">Blog</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>

                    <div id="cssmenu2" class="menu-one-page-menu-container">
                        <ul id="menu-one-page-menu-1" class="menu">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#home"><span>+8 12 3456897</span></a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#howitwork"><span>info@example.com</span></a></li>
                        </ul>
                    </div>
            </div>
            <div class="offcanvas-overly"></div>
                 <!-- offcanvas-end -->
        <!-- main-area -->
        <main>

            <!-- search-popup -->
		<div class="modal fade bs-example-modal-lg search-bg popup1" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content search-popup">
					<div class="text-center">
						<a href="#" class="close2" data-dismiss="modal" aria-label="Close">× close</a>
					</div>
					<div class="row search-outer">
						<div class="col-md-11"><input type="text" placeholder="Search for products..." /></div>
						<div class="col-md-1 text-right"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></div>
					</div>
				</div>
			</div>
		</div>
		<!-- /search-popup -->
            <!-- breadcrumb-area -->
            <section class="breadcrumb-area d-flex align-items-center" style="background-image:url(img/testimonial/test-bg.png)">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-12 col-lg-12">
                            <div class="breadcrumb-wrap text-left">
                                <div class="breadcrumb-title">
                                    <h2>Pricing</h2>
                                    <div class="breadcrumb-wrap">

                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Pricing</li>
                                    </ol>
                                </nav>
                            </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <!-- breadcrumb-area-end -->

           <!-- pricing-area -->
            <section id="pricing" class="pricing-area pt-120 pb-60" style="background: url(assets/img/bg/aliment-left.png) no-repeat; background-position: left center;">
                <div class="container">
                    <div class="row">
                         <div class="col-lg-12 p-relative">
                            <div class="section-title center-align mb-30 text-center">
                                 <h5>PRICING PLAN</h5>
                                <h2>
                                   Choose Your Plan
                                </h2>

                            </div>
                             <nav class="pricing-tab mb-30">
                                    <span class="monthly_tab_title">Monthly</span>
                                    <span class="pricing-tab-switcher"></span>
                                    <span class="annual_tab_title">Annual</span>
                                 </nav>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                          <div class="pricing-box pricing-box2 mb-60">
                                <div class="pricing-head text-center">
                                    <h3>Starter</h3>
                                      <div class="price-count pricing-amount">
                                           <div class="monthly_price">
                                              <h2>$9</h2>
                                              <span class="subscription"> Per Month </span>
                                           </div>
                                            <div class="annual_price">
                                              <h2>$99</h2>
                                              <span class="subscription"> Per Annual </span>
                                           </div>
                                     </div>
                                     <p>Nulla scelerisque elit aliquet, <br>volutpat lorem ac.</p>
                                    <hr>
                                </div>

                                <div class="pricing-body mt-20 mb-30">
                                   <ul>
                                      <li>Pack Of 5 Bottles</li>
                                       <li>Free Delivery Service</li>
                                        <li>Free Water Fillter Cleaning</li>
                                         <li>Re-Water Filling Service</li>
                                         <li>24X7 Support</li>
                                    </ul>
                                </div>

                                <div class="pricing-btn text-center">
                                   <a href="shop-details.html" class="btn ss-btn">Gets Started</a>
                                     <p>*Free Trial 14 Days</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                             <div class="pricing-box pricing-box2 active mb-60">
                                    <div class="pricing-head text-center">
                                        <h3>Professional</h3>
                                        <div class="price-count pricing-amount">

                                           <div class="monthly_price">
                                              <h2>$18</h2>
                                              <span class="subscription"> Per Month </span>
                                           </div>
                                            <div class="annual_price">
                                              <h2>$120</h2>
                                              <span class="subscription"> Per Annual </span>
                                           </div>
                                        </div>
                                         <p>Nulla scelerisque elit aliquet, <br>volutpat lorem ac.</p>
                                        <hr>
                                    </div>

                                    <div class="pricing-body mt-20 mb-30">
                                       <ul>
                                          <li>Pack Of 5 Bottles</li>
                                            <li>Free Delivery Service</li>
                                            <li>Free Water Fillter Cleaning</li>
                                             <li>Re-Water Filling Service</li>
                                             <li>24X7 Support</li>
                                        </ul>
                                    </div>

                                    <div class="pricing-btn text-center">
                                       <a href="shop-details.html" class="btn ss-btn">Gets Started</a>
                                        <p>*Free Trial 14 Days</p>
                                    </div>
                                </div>

                        </div>
                         <div class="col-lg-4 col-md-4">
                             <div class="pricing-box pricing-box2 mb-60">
                                    <div class="pricing-head text-center">
                                        <h3>Enterprise</h3>
                                          <div class="price-count pricing-amount">
                                           <div class="monthly_price">
                                              <h2>$49</h2>
                                              <span class="subscription"> Per Month </span>
                                           </div>
                                            <div class="annual_price">
                                              <h2>$399</h2>
                                              <span class="subscription"> Per Annual </span>
                                           </div>
                                     </div>
                                        <p>Nulla scelerisque elit aliquet, <br>volutpat lorem ac.</p>
                                        <hr>
                                    </div>

                                    <div class="pricing-body mt-20 mb-30 ">
                                       <ul>
                                             <li>Pack Of 5 Bottles</li>
                                            <li>Free Delivery Service</li>
                                            <li>Free Water Fillter Cleaning</li>
                                             <li>Re-Water Filling Service</li>
                                             <li>24X7 Support</li>
                                        </ul>
                                    </div>

                                    <div class="pricing-btn text-center">
                                       <a href="shop-details.html" class="btn ss-btn">Gets Started</a>
                                        <p>*Free Trial 14 Days</p>
                                    </div>
                                </div>


                        </div>
                    </div>
                </div>
            </section>
            <!-- pricing-area-end -->

        </main>
        <!-- main-area-end -->
<!-- footer -->
        <footer class="footer-bg footer-p">
            <div class="footer-top-heiding pt-70 pb-120">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="section-title">
                                <h2> Get Update<br> From Newsletter</h2>

                            </div>
                        </div>
                         <div class="col-xl-6 col-lg-6">
                             <div class="newslater-area">
                                <form name="ajax-form" id="contact-form4" action="#" method="post" class="contact-form newslater">
                               <div class="form-group">
                                  <input class="form-control" id="email2" name="email" type="email" placeholder="Email Address..." value="" required="">
                                  <button type="submit" class="btn btn-custom" id="send2">Subscribe Now</button>
                               </div>
                               <!-- /Form-email -->
                            </form>
                             </div>

                        </div>
                    </div>
                </div>

            </div>
             <div class="footer-top pb-40">
                <div class="container">
                    <div class="row justify-content-between">

                          <div class="col-xl-3 col-lg-3 col-sm-6">
                            <div class="footer-widget mb-30">
                                <div class="f-widget-title mb-45">
                                   <img src="assets/img/logo/f_logo.png" alt="img">
                                </div>
                                <div class="footer-link">
                                    Aenean pulvinar laoreet tellus ut tinct. Praesent a lectus egestas, finibus enim sit amet, mollis lorem. Sed a volutpat velit. Pellet habitant morbi tristique senectus et.
                                </div>
                                <div class="f-contact mt-30">
                                    <ul>

                                    <li>
                                        <i class="icon fal fa-map-marker-check"></i>
                                        <span>1247/Plot No. 39, 15th
Phase, Colony, Kanpur</span>
                                    </li>

                                </ul>

                                    </div>


                            </div>
                        </div>
						<div class="col-xl-3 col-lg-3 col-sm-6">
                            <div class="footer-widget mb-30">
                                <div class="f-widget-title">
                                    <h2>Our Links</h2>
                                </div>
                                <div class="footer-link">
                                    <ul>
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="about.html"> About Us</a></li>
                                        <li><a href="services.html"> Services </a></li>
                                         <li><a href="#">Term</a></li>
                                        <li><a href="blog.html">Blog </a></li>
                                         <li><a href="faq.html">FAQ</a></li>
                                        <li><a href="#">Support</a></li>
                                        <li><a href="#">Privercy</a></li>
                                          <li><a href="contact.html"> Contact Us</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-sm-6">

                            <div class="footer-widget mb-30">
                                 <div class="f-widget-title">
                                    <h2>Get In Touch</h2>
                                </div>
                               <div class="f-contact">
                                    <ul>
                                    <li>
                                        <i class="icon fal fa-phone"></i>
                                        <span>1800-121-3637<br>+91-7052-101-786</span>
                                    </li>
                                   <li><i class="icon fal fa-envelope"></i>
                                        <span>
                                            <a href="mailto:info@example.com">info@example.com</a>
                                       <br>
                                       <a href="mailto:help@example.com">help@example.com</a>
                                       </span>
                                    </li>


                                </ul>

                                    </div>
                            </div>
                        </div>
                       <div class="col-xl-3 col-lg-3 col-sm-6">
                            <div class="footer-widget mb-30">
                                <div class="f-widget-title">
                                    <h2>Our Gallery</h2>
                                </div>
                                <div class="f-insta">
                                    <ul>
                                        <li><a href="assets/img/instagram/f-galler-01.png" class="popup-image"><img src="assets/img/instagram/f-galler-01.png" alt="img"></a></li>
                                       <li><a href="assets/img/instagram/f-galler-02.png" class="popup-image"><img src="assets/img/instagram/f-galler-02.png" alt="img"></a></li>
                                        <li><a href="assets/img/instagram/f-galler-03.png" class="popup-image"><img src="assets/img/instagram/f-galler-03.png" alt="img"></a></li>
                                        <li><a href="assets/img/instagram/f-galler-04.png" class="popup-image"><img src="assets/img/instagram/f-galler-04.png" alt="img"></a></li>


                                    </ul>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="copyright-wrap">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                              Copyright © 2021 Capatel All rights reserved.
                        </div>
                        <div class="col-lg-6 text-right text-xl-right">
                            <ul>
                                <li><a href="#">Privercy</a></li>
                                <li><a href="#">Term &amp; Conditions</a></li>
                                <li><a href="#">Legal</a></li>
                                <li> <span class="footer-social">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </span></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </footer>
        <!-- footer-end -->
