
     <!-- header -->
        <header class="header-area">
            <div class="header-top second-header d-none d-md-block">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-8 d-none  d-md-block">
                            <div class="header-cta">
                                <ul>
                                    <li>
                                        <i class="fas fa-envelope"></i>

                                        <span>info@example.com</span>
                                    </li>
                                     <li>
                                      <i class="far fa-map-marker-alt"></i>
                                        <span>12/7 Aabot, Poor Street, Mumbai</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                         <div class="col-lg-6 col-md-6 d-none d-lg-block">
                             <div class="header-social text-right">
                            <span>
                                <a href="#" title="Facebook"><i class="fab fa-facebook"></i></a>
                                <a href="#" title="Twitter"><i class="fab fa-twitter"></i></a>
                                <a href="#" title="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                               </span>
                               <!--  /social media icon redux -->
                        </div>
                        </div>

                    </div>
                </div>
            </div>
			 <div id="header-sticky" class="menu-area">
                <div class="container">
                    <div class="second-menu">
                        <div class="row align-items-center">
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a href="index.html"><img src="assets/img/logo/logo.png" alt="logo"></a>
                                </div>
                            </div>
                           <div class="col-xl-7 col-lg-7">

                                <div class="main-menu text-right text-xl-right">
                                    <nav id="mobile-menu">
                                        <ul>
                                            <li class="has-sub">
												<a href="index.html">Home</a>
												<ul>
                                                    <li><a href="index.html">Home Page 01</a></li>
                                                    <li><a href="index-2.html">Home Page 02</a></li>

												</ul>
											</li>
                                            <li><a href="about.html">About Us</a></li>
                                            <li class="has-sub"><a href="#">Pages</a>
												<ul>
                                                    <li><a href="projects.html">Project</a></li>
                                                    <li><a href="projects-detail.html">Project Details</a></li>

                                                    <li><a href="pricing.html">Pricing</a></li>
                                                    <li><a href="team.html">Team</a></li>
                                                    <li><a href="faq.html">Faq</a></li>
                                                    <li><a href="shop.html">Shop</a></li>
                                                    <li><a href="shop-details.html">Shop Details</a>
												</li></ul>
											</li>
                                            <li class="has-sub">
                                              <a href="services.html">Services</a>
                                                <ul>
                                                     <li><a href="services.html">Services</a></li>
                                                    <li><a href="services-detail.html">Services Details</a></li>
												</ul>
                                            </li>

											<li class="has-sub">
                                                <a href="blog.html">Blog</a>
                                                <ul>
                                                    <li><a href="blog.html">Blog</a></li>
                                                    <li><a href="blog-details.html">Blog Details</a></li>
												</ul>
                                            </li>



                                        </ul>
                                    </nav>
                                </div>
                            </div>
                             <div class="col-xl-1 col-lg-1 text-center d-none d-lg-block mt-15 mb-15">
                                <a href="contact.html" class="menu-tigger"><i class="fal fa-search"></i></a>
                            </div>
                            <div class="col-xl-2 col-lg-2 text-right d-none d-lg-block mt-15 mb-15">
                                <a href="contact.html" class="btn ss-btn">Get A Quote</a>
                            </div>


                                <div class="col-12">
                                    <div class="mobile-menu"></div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header-end -->
        <!-- offcanvas-area -->
                <div class="offcanvas-menu">
                <span class="menu-close"><i class="fas fa-times"></i></span>
              <form role="search" method="get" id="searchform"   class="searchform" action="http://wordpress.zcube.in/xconsulta/">
                                <input type="text" name="s" id="search" value="" placeholder="Search"  />
                                <button><i class="fa fa-search"></i></button>
                            </form>


                    <div id="cssmenu3" class="menu-one-page-menu-container">
                        <ul id="menu-one-page-menu-2" class="menu">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="index.html">Home</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="about.html">About Us</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="services.html">Services</a></li>
                             <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="pricing.html">Pricing </a></li>
                             <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="team.html">Team </a></li>

                             <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="projects.html">Gallery Study</a></li>
                             <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="blog.html">Blog</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>

                    <div id="cssmenu2" class="menu-one-page-menu-container">
                        <ul id="menu-one-page-menu-1" class="menu">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#home"><span>+8 12 3456897</span></a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#howitwork"><span>info@example.com</span></a></li>
                        </ul>
                    </div>
            </div>
            <div class="offcanvas-overly"></div>
                 <!-- offcanvas-end -->
        <!-- main-area -->
        <main>

            <!-- search-popup -->
		<div class="modal fade bs-example-modal-lg search-bg popup1" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content search-popup">
					<div class="text-center">
						<a href="#" class="close2" data-dismiss="modal" aria-label="Close">× close</a>
					</div>
					<div class="row search-outer">
						<div class="col-md-11"><input type="text" placeholder="Search for products..." /></div>
						<div class="col-md-1 text-right"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></div>
					</div>
				</div>
			</div>
		</div>
		<!-- /search-popup -->
            <!-- breadcrumb-area -->
            <section class="breadcrumb-area d-flex align-items-center" style="background-image:url(img/testimonial/test-bg.png)">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-12 col-lg-12">
                            <div class="breadcrumb-wrap text-left">
                                <div class="breadcrumb-title">
                                    <h2>Shop</h2>
                                    <div class="breadcrumb-wrap">

                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Pricing</li>
                                    </ol>
                                </nav>
                            </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <!-- breadcrumb-area-end -->

			<!-- shop-area -->
            <section class="shop-area pt-120 pb-120 p-relative " data-animation="fadeInUp animated" data-delay=".2s">
                <div class="container">
					<div class="row">
						<div class="col-lg-6 col-sm-6">
						<h6 class="mt-20 mb-30">Showing 1–9 of 10 results</h6>
						</div>
						<div class="col-lg-6 col-sm-6 text-right">
							<select name="orderby" class="orderby" aria-label="Shop order">
								<option value="menu_order" selected="selected">Default sorting</option>
								<option value="popularity">Sort by popularity</option>
								<option value="rating">Sort by average rating</option>
								<option value="date">Sort by latest</option>
								<option value="price">Sort by price: low to high</option>
								<option value="price-desc">Sort by price: high to low</option>
							</select>
						</div>
					</div>
                    <div class="row align-items-center">
                                    <div class="col-lg-4 col-md-6">
                                        <div class="product mb-40">
                                            <div class="product__img">
                                                <a href="shop-details.html"><img src="assets/img/shop/img4.jpg" alt=""></a>
                                                <div class="product-action text-center">

                                                    <a href="shop-details.html">Add Cart</a>

                                                </div>
                                            </div>
                                            <div class="product__content text-center pt-30">
                                                <span class="pro-cat"><a href="#">Chair</a></span>
                                                <h4 class="pro-title"><a href="shop-details.html">Bakari Product</a></h4>
                                                <div class="price">
                                                    <span>$95.00</span>
                                                    <span class="old-price">$120.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="product mb-40">
                                            <div class="product__img">
                                                <a href="shop-details.html"><img src="assets/img/shop/img5.jpg" alt=""></a>
                                                <div class="product-action text-center">

                                                    <a href="shop-details.html">Add Cart</a>

                                                </div>
                                            </div>
                                            <div class="product__content text-center pt-30">
                                                <span class="pro-cat"><a href="#">Cloths</a></span>
                                                <h4 class="pro-title"><a href="shop-details.html">Romada Product</a></h4>
                                                <div class="price">
                                                    <span>$95.00</span>
                                                    <span class="old-price">$120.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="product mb-40">
                                            <div class="product__img">
                                                <a href="shop-details.html"><img src="assets/img/shop/img6.jpg" alt=""></a>
                                                <div class="product-action text-center">

                                                    <a href="shop-details.html">Add Cart</a>

                                                </div>
                                            </div>
                                            <div class="product__content text-center pt-30">
                                                <span class="pro-cat"><a href="#">Light</a></span>
                                                <h4 class="pro-title"><a href="shop-details.html">Sikkar Product</a></h4>
                                                <div class="price">
                                                    <span>$95.00</span>
                                                    <span class="old-price">$120.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="product mb-40">
                                            <div class="product__img">
                                                <a href="shop-details.html"><img src="assets/img/shop/img7.jpg" alt=""></a>
                                                <div class="product-action text-center">

                                                    <a href="shop-details.html">Add Cart</a>

                                                </div>
                                            </div>
                                            <div class="product__content text-center pt-30">
                                                <span class="pro-cat"><a href="#">Headphone</a></span>
                                                <h4 class="pro-title"><a href="shop-details.html">Minners Product</a></h4>
                                                <div class="price">
                                                    <span>$95.00</span>
                                                    <span class="old-price">$120.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="product mb-40">
                                            <div class="product__img">
                                                <a href="shop-details.html"><img src="assets/img/shop/img8.jpg" alt=""></a>
                                                <div class="product-action text-center">

                                                    <a href="shop-details.html">Add Cart</a>

                                                </div>
                                            </div>
                                            <div class="product__content text-center pt-30">
                                                <span class="pro-cat"><a href="#">table</a></span>
                                                <h4 class="pro-title"><a href="shop-details.html">Dolando Product</a></h4>
                                                <div class="price">
                                                    <span>$95.00</span>
                                                    <span class="old-price">$120.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="product mb-40">
                                            <div class="product__img">
                                                <a href="shop-details.html"><img src="assets/img/shop/img9.jpg" alt=""></a>
                                                <div class="product-action text-center">

                                                    <a href="shop-details.html">Add Cart</a>

                                                </div>
                                            </div>
                                            <div class="product__content text-center pt-30">
                                                <span class="pro-cat"><a href="#">Cloths</a></span>
                                                <h4 class="pro-title"><a href="shop-details.html">Romada Product</a></h4>
                                                <div class="price">
                                                    <span>$95.00</span>
                                                    <span class="old-price">$120.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
									<div class="col-lg-4 col-md-6">
                                        <div class="product mb-40">
                                            <div class="product__img">
                                                <a href="shop-details.html"><img src="assets/img/shop/img1.jpg" alt=""></a>
                                                <div class="product-action text-center">

                                                    <a href="shop-details.html">Add Cart</a>

                                                </div>
                                            </div>
                                            <div class="product__content text-center pt-30">
                                                <span class="pro-cat"><a href="#">Cloths</a></span>
                                                <h4 class="pro-title"><a href="shop-details.html">Medidove Product</a></h4>
                                                <div class="price">
                                                    <span>$95.00</span>
                                                    <span class="old-price">$120.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="product mb-40">
                                            <div class="product__img">
                                                <a href="shop-details.html"><img src="assets/img/shop/img2.jpg" alt=""></a>
                                                <div class="product-action text-center">

                                                    <a href="shop-details.html">Add Cart</a>

                                                </div>
                                            </div>
                                            <div class="product__content text-center pt-30">
                                                <span class="pro-cat"><a href="#">Cloths</a></span>
                                                <h4 class="pro-title"><a href="shop-details.html">Legend Product</a></h4>
                                                <div class="price">
                                                    <span>$95.00</span>
                                                    <span class="old-price">$120.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="product mb-40">
                                            <div class="product__img">
                                                <a href="shop-details.html"><img src="assets/img/shop/img3.jpg" alt=""></a>
                                                <div class="product-action text-center">

                                                    <a href="shop-details.html">Add Cart</a>

                                                </div>
                                            </div>
                                            <div class="product__content text-center pt-30">
                                                <span class="pro-cat"><a href="#">Table</a></span>
                                                <h4 class="pro-title"><a href="shop-details.html">Akari Product</a></h4>
                                                <div class="price">
                                                    <span>$95.00</span>
                                                    <span class="old-price">$120.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                    </div>
					<div class="row">
                    <div class="col-12">
                        <div class="pagination-wrap mt-50 text-center">
                                <nav>
                                    <ul class="pagination">
                                        <li class="page-item"><a href="#"><i class="fas fa-angle-double-left"></i></a></li>
                                        <li class="page-item active"><a href="#">1</a></li>
                                        <li class="page-item"><a href="#">2</a></li>
                                        <li class="page-item"><a href="#">3</a></li>
                                        <li class="page-item"><a href="#">...</a></li>
                                        <li class="page-item"><a href="#">10</a></li>
                                        <li class="page-item"><a href="#"><i class="fas fa-angle-double-right"></i></a></li>
                                    </ul>
                                </nav>
                            </div>
                    </div>
                <div></div></div>
                </div>
            </section>
            <!-- shop-area-end -->

        </main>
<!-- footer -->
        <footer class="footer-bg footer-p">
            <div class="footer-top-heiding pt-70 pb-120">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="section-title">
                                <h2> Get Update<br> From Newsletter</h2>

                            </div>
                        </div>
                         <div class="col-xl-6 col-lg-6">
                             <div class="newslater-area">
                                <form name="ajax-form" id="contact-form4" action="#" method="post" class="contact-form newslater">
                               <div class="form-group">
                                  <input class="form-control" id="email2" name="email" type="email" placeholder="Email Address..." value="" required="">
                                  <button type="submit" class="btn btn-custom" id="send2">Subscribe Now</button>
                               </div>
                               <!-- /Form-email -->
                            </form>
                             </div>

                        </div>
                    </div>
                </div>

            </div>
             <div class="footer-top pb-40">
                <div class="container">
                    <div class="row justify-content-between">

                          <div class="col-xl-3 col-lg-3 col-sm-6">
                            <div class="footer-widget mb-30">
                                <div class="f-widget-title mb-45">
                                   <img src="assets/img/logo/f_logo.png" alt="img">
                                </div>
                                <div class="footer-link">
                                    Aenean pulvinar laoreet tellus ut tinct. Praesent a lectus egestas, finibus enim sit amet, mollis lorem. Sed a volutpat velit. Pellet habitant morbi tristique senectus et.
                                </div>
                                <div class="f-contact mt-30">
                                    <ul>

                                    <li>
                                        <i class="icon fal fa-map-marker-check"></i>
                                        <span>1247/Plot No. 39, 15th
Phase, Colony, Kanpur</span>
                                    </li>

                                </ul>

                                    </div>


                            </div>
                        </div>
						<div class="col-xl-3 col-lg-3 col-sm-6">
                            <div class="footer-widget mb-30">
                                <div class="f-widget-title">
                                    <h2>Our Links</h2>
                                </div>
                                <div class="footer-link">
                                    <ul>
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="about.html"> About Us</a></li>
                                        <li><a href="services.html"> Services </a></li>
                                         <li><a href="#">Term</a></li>
                                        <li><a href="blog.html">Blog </a></li>
                                         <li><a href="faq.html">FAQ</a></li>
                                        <li><a href="#">Support</a></li>
                                        <li><a href="#">Privercy</a></li>
                                          <li><a href="contact.html"> Contact Us</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-sm-6">

                            <div class="footer-widget mb-30">
                                 <div class="f-widget-title">
                                    <h2>Get In Touch</h2>
                                </div>
                               <div class="f-contact">
                                    <ul>
                                    <li>
                                        <i class="icon fal fa-phone"></i>
                                        <span>1800-121-3637<br>+91-7052-101-786</span>
                                    </li>
                                   <li><i class="icon fal fa-envelope"></i>
                                        <span>
                                            <a href="mailto:info@example.com">info@example.com</a>
                                       <br>
                                       <a href="mailto:help@example.com">help@example.com</a>
                                       </span>
                                    </li>


                                </ul>

                                    </div>
                            </div>
                        </div>
                       <div class="col-xl-3 col-lg-3 col-sm-6">
                            <div class="footer-widget mb-30">
                                <div class="f-widget-title">
                                    <h2>Our Gallery</h2>
                                </div>
                                <div class="f-insta">
                                    <ul>
                                        <li><a href="assets/img/instagram/f-galler-01.png" class="popup-image"><img src="assets/img/instagram/f-galler-01.png" alt="img"></a></li>
                                       <li><a href="assets/img/instagram/f-galler-02.png" class="popup-image"><img src="assets/img/instagram/f-galler-02.png" alt="img"></a></li>
                                        <li><a href="assets/img/instagram/f-galler-03.png" class="popup-image"><img src="assets/img/instagram/f-galler-03.png" alt="img"></a></li>
                                        <li><a href="assets/img/instagram/f-galler-04.png" class="popup-image"><img src="assets/img/instagram/f-galler-04.png" alt="img"></a></li>


                                    </ul>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="copyright-wrap">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                              Copyright © 2021 Capatel All rights reserved.
                        </div>
                        <div class="col-lg-6 text-right text-xl-right">
                            <ul>
                                <li><a href="#">Privercy</a></li>
                                <li><a href="#">Term &amp; Conditions</a></li>
                                <li><a href="#">Legal</a></li>
                                <li> <span class="footer-social">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </span></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </footer>
        <!-- footer-end -->
